[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
jupyter = "*"

[packages]
numpy = "*"
torch = "*"
torchvision = "*"
dnnfold = {editable = true,path = "."}
tqdm = "*"

[requires]
python_version = "3.7"
